<a href="https://colab.research.google.com/github/fornieligulo/Algiritma_NBC/blob/main/SKRIPSI_Cleanning_Data_Selection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Import Labrary dan Read Dataset**

In [5]:
# Import libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.feature_extraction.text import CountVectorizer
import nltk 
import string
import re

In [6]:
# Load dataset
def load_data():
    data = pd.read_csv('02-Selection-Data.csv')
    return data

tweet_df = load_data()
tweet_df.head()

,date,time,username,tweet,replies_count,retweets_count,likes_count
0,30/08/2022,10:02:37,tvonenews,"Mengejutkan, Kuat Maruf Disebut Lakukan Hubung...",2964,4058,19127
1,15/02/2023,12:38:10,idextratime,Rekap vonis tersangka kasus Brigadir J sejauh ...,2715,4492,37295
2,15/02/2023,12:38:10,idextratime,Rekap vonis tersangka kasus Brigadir J sejauh ...,2715,4492,37295
3,21/09/2022,14:27:25,detikcom,"Polri menyebut AKBP Arif Rahman, saksi kunci o...",2360,1193,5082
4,30/08/2022,20:20:23,burhanmuhtadi,Penyitaan barang bukti kasus korupsi Duta Palm...,1569,11600,35064

In [7]:
#definisi dataframe
#ubah dataframe sesuai column kalian
df  = pd.DataFrame(tweet_df[['username','date','time','tweet','replies_count','retweets_count','likes_count']])
df

,username,date,time,tweet,replies_count,retweets_count,likes_count
0,tvonenews,30/08/2022,10:02:37,"Mengejutkan, Kuat Maruf Disebut Lakukan Hubung...",2964,4058,19127
1,idextratime,15/02/2023,12:38:10,Rekap vonis tersangka kasus Brigadir J sejauh ...,2715,4492,37295
2,idextratime,15/02/2023,12:38:10,Rekap vonis tersangka kasus Brigadir J sejauh ...,2715,4492,37295
3,detikcom,21/09/2022,14:27:25,"Polri menyebut AKBP Arif Rahman, saksi kunci o...",2360,1193,5082
4,burhanmuhtadi,30/08/2022,20:20:23,Penyitaan barang bukti kasus korupsi Duta Palm...,1569,11600,35064
...,...,...,...,...,...,...,...
17746,monstermerahah,03/08/2022,11:53:16,@tanyakanrl putri pc,1,0,0
17747,okezonenews,02/08/2022,17:20:00,Komnas HAM menyebut hanya istri Irjen Ferdy Sa...,1,0,1
17748,putri_nfpn14,01/08/2022,23:49:51,@lopyutudebon adanya siapa aja yg PC album?,1,0,0
17749,putri_nfpn14,01/08/2022,21:40:04,@deboraaa_12 pc. blm beli. tpi stoknya 😭,1,0,1
17750,ulfarikaaa,01/08/2022,21:02:32,masih belom paham ini kasusnya krn si putri ca...,1,0,0

# **Proses Cleaning Data**

In [8]:
#remove user
def remove_pattern(input_txt, pattern):
    r = re.findall(pattern, input_txt)
    for i in r:
        input_txt = re.sub(i, '', input_txt)
    return input_txt    
df['remove_user'] = np.vectorize(remove_pattern)(df['tweet'], "@[\w]*")
df

,username,date,time,tweet,replies_count,retweets_count,likes_count,remove_user
0,tvonenews,30/08/2022,10:02:37,"Mengejutkan, Kuat Maruf Disebut Lakukan Hubung...",2964,4058,19127,"Mengejutkan, Kuat Maruf Disebut Lakukan Hubung..."
1,idextratime,15/02/2023,12:38:10,Rekap vonis tersangka kasus Brigadir J sejauh ...,2715,4492,37295,Rekap vonis tersangka kasus Brigadir J sejauh ...
2,idextratime,15/02/2023,12:38:10,Rekap vonis tersangka kasus Brigadir J sejauh ...,2715,4492,37295,Rekap vonis tersangka kasus Brigadir J sejauh ...
3,detikcom,21/09/2022,14:27:25,"Polri menyebut AKBP Arif Rahman, saksi kunci o...",2360,1193,5082,"Polri menyebut AKBP Arif Rahman, saksi kunci o..."
4,burhanmuhtadi,30/08/2022,20:20:23,Penyitaan barang bukti kasus korupsi Duta Palm...,1569,11600,35064,Penyitaan barang bukti kasus korupsi Duta Palm...
...,...,...,...,...,...,...,...,...
17746,monstermerahah,03/08/2022,11:53:16,@tanyakanrl putri pc,1,0,0,putri pc
17747,okezonenews,02/08/2022,17:20:00,Komnas HAM menyebut hanya istri Irjen Ferdy Sa...,1,0,1,Komnas HAM menyebut hanya istri Irjen Ferdy Sa...
17748,putri_nfpn14,01/08/2022,23:49:51,@lopyutudebon adanya siapa aja yg PC album?,1,0,0,adanya siapa aja yg PC album?
17749,putri_nfpn14,01/08/2022,21:40:04,@deboraaa_12 pc. blm beli. tpi stoknya 😭,1,0,1,pc. blm beli. tpi stoknya 😭
17750,ulfarikaaa,01/08/2022,21:02:32,masih belom paham ini kasusnya krn si putri ca...,1,0,0,masih belom paham ini kasusnya krn si putri ca...

In [9]:
def remove(tweet):
    #remove angka
    tweet = re.sub('[0-9]+', '', tweet)
    
    # remove stock market tickers like $GE
    tweet = re.sub(r'\$\w*', '', tweet)
 
    # remove old style retweet text "RT"
    tweet = re.sub(r'^RT[\s]+', '', tweet)
    
    # remove hashtags
    # only removing the hash # sign from the word
    tweet = re.sub(r'#', '', tweet)
    return tweet
df['remove_http'] = df['remove_user'].apply(lambda x: remove(x))
df

,username,date,time,tweet,replies_count,retweets_count,likes_count,remove_user,remove_http
0,tvonenews,30/08/2022,10:02:37,"Mengejutkan, Kuat Maruf Disebut Lakukan Hubung...",2964,4058,19127,"Mengejutkan, Kuat Maruf Disebut Lakukan Hubung...","Mengejutkan, Kuat Maruf Disebut Lakukan Hubung..."
1,idextratime,15/02/2023,12:38:10,Rekap vonis tersangka kasus Brigadir J sejauh ...,2715,4492,37295,Rekap vonis tersangka kasus Brigadir J sejauh ...,Rekap vonis tersangka kasus Brigadir J sejauh ...
2,idextratime,15/02/2023,12:38:10,Rekap vonis tersangka kasus Brigadir J sejauh ...,2715,4492,37295,Rekap vonis tersangka kasus Brigadir J sejauh ...,Rekap vonis tersangka kasus Brigadir J sejauh ...
3,detikcom,21/09/2022,14:27:25,"Polri menyebut AKBP Arif Rahman, saksi kunci o...",2360,1193,5082,"Polri menyebut AKBP Arif Rahman, saksi kunci o...","Polri menyebut AKBP Arif Rahman, saksi kunci o..."
4,burhanmuhtadi,30/08/2022,20:20:23,Penyitaan barang bukti kasus korupsi Duta Palm...,1569,11600,35064,Penyitaan barang bukti kasus korupsi Duta Palm...,Penyitaan barang bukti kasus korupsi Duta Palm...
...,...,...,...,...,...,...,...,...,...
17746,monstermerahah,03/08/2022,11:53:16,@tanyakanrl putri pc,1,0,0,putri pc,putri pc
17747,okezonenews,02/08/2022,17:20:00,Komnas HAM menyebut hanya istri Irjen Ferdy Sa...,1,0,1,Komnas HAM menyebut hanya istri Irjen Ferdy Sa...,Komnas HAM menyebut hanya istri Irjen Ferdy Sa...
17748,putri_nfpn14,01/08/2022,23:49:51,@lopyutudebon adanya siapa aja yg PC album?,1,0,0,adanya siapa aja yg PC album?,adanya siapa aja yg PC album?
17749,putri_nfpn14,01/08/2022,21:40:04,@deboraaa_12 pc. blm beli. tpi stoknya 😭,1,0,1,pc. blm beli. tpi stoknya 😭,pc. blm beli. tpi stoknya 😭
17750,ulfarikaaa,01/08/2022,21:02:32,masih belom paham ini kasusnya krn si putri ca...,1,0,0,masih belom paham ini kasusnya krn si putri ca...,masih belom paham ini kasusnya krn si putri ca...

In [10]:
#Remove file dup
df.sort_values("remove_http", inplace = True)
df.drop_duplicates(subset ="remove_http", keep = 'first', inplace = True)
df

,username,date,time,tweet,replies_count,retweets_count,likes_count,remove_user,remove_http
10214,abahnanisa,29/10/2022,14:07:28,@2019_gerdapri @_melody_mellow @surasujaya @ya...,1,1,3,...,...
10300,iteam_p4,28/10/2022,16:31:44,@RockIn82__ @b41m_b14ck @surasujaya @__KopiPai...,1,0,2,...,...
5157,matahari_1912,29/10/2022,6:50:37,@AkunSiih @JacksQuevara @ZoelHayat @yaminhariy...,2,1,4,...,...
5150,aniesygmanies,29/10/2022,13:27:03,@luvalwaysblu8 @RockIn82__ @DjumadiDeddy @Comb...,2,0,3,...,...
3752,mantan_ajja,28/10/2022,14:20:27,@surasujaya @Kio_bim @_melody_mellow @Ucing_Se...,3,0,4,...,...
...,...,...,...,...,...,...,...,...,...
6798,qu3en_l1lith,30/07/2022,12:32:56,🤔🤔🤔🤔🤔🤔 Di postingan gue sebelumnya ada video...,1,0,0,🤔🤔🤔🤔🤔🤔 Di postingan gue sebelumnya ada video...,🤔🤔🤔🤔🤔🤔 Di postingan gue sebelumnya ada video...
4832,kak_rafly,28/09/2022,23:34:27,🤦‍♂️ Saya dan Ferdy Sambo berasal dari daerah ...,2,0,3,🤦‍♂️ Saya dan Ferdy Sambo berasal dari daerah ...,🤦‍♂️ Saya dan Ferdy Sambo berasal dari daerah ...
15347,hoxxynaya,25/02/2023,16:26:21,"🦋: Eh, vonis Bharada E dah keluar M (adek sepu...",1,0,0,"🦋: Eh, vonis Bharada E dah keluar M (adek sepu...","🦋: Eh, vonis Bharada E dah keluar M (adek sepu..."
12149,rcunshpeecheck,05/12/2022,15:20:57,🪐Inspirasi Sepatu Safety/Hiking/Kerja🪐 Harga ...,1,0,1,🪐Inspirasi Sepatu Safety/Hiking/Kerja🪐 Harga ...,🪐Inspirasi Sepatu Safety/Hiking/Kerja🪐 Harga ...
17627,shopeebyrainee,19/08/2022,21:17:48,🪐Rekomendasi Sepatu Safety/Hiking/Kerja🪐 Harg...,1,31,33,🪐Rekomendasi Sepatu Safety/Hiking/Kerja🪐 Harg...,🪐Rekomendasi Sepatu Safety/Hiking/Kerja🪐 Harg...

In [11]:
#insttal library stopwords
!pip install Sastrawi

from nltk.corpus import stopwords

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting Sastrawi
  Downloading Sastrawi-1.0.1-py2.py3-none-any.whl (209 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 209.7/209.7 KB 12.8 MB/s eta 0:00:00
Installing collected packages: Sastrawi
Successfully installed Sastrawi-1.0.1

In [12]:
# Mendownload daftar kata yang ada (vocabulary)
nltk.download('stopwords')
from nltk.corpus import stopwords
 
# Memeriksa daftar kata di stopwords
inggris = stopwords.words('english')
indo = stopwords.words('indonesian')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [13]:
from Sastrawi.Stemmer.StemmerFactory import StemmerFactory
psi = StemmerFactory()
stemmer = psi.create_stemmer()

In [14]:
#import stopword
from nltk.corpus import stopwords 
stopwords_indonesia = stopwords.words('indonesian')

In [15]:
#tokenize
from nltk.tokenize import TweetTokenizer

In [16]:
# Happy Emoticons
emoticons_happy = set([
    ':-)', ':)', ';)', ':o)', ':]', ':3', ':c)', ':>', '=]', '8)', '=)', ':}',
    ':^)', ':-D', ':D', '8-D', '8D', 'x-D', 'xD', 'X-D', 'XD', '=-D', '=D',
    '=-3', '=3', ':-))', ":'-)", ":')", ':*', ':^*', '>:P', ':-P', ':P', 'X-P',
    'x-p', 'xp', 'XP', ':-p', ':p', '=p', ':-b', ':b', '>:)', '>;)', '>:-)',
    '<3'
    ])

In [17]:
# Sad Emoticons
emoticons_sad = set([
    ':L', ':-/', '>:/', ':S', '>:[', ':@', ':-(', ':[', ':-||', '=L', ':<',
    ':-[', ':-<', '=\\', '=/', '>:(', ':(', '>.<', ":'-(", ":'(", ':\\', ':-c',
    ':c', ':{', '>:\\', ';('
    ])

In [18]:
# all emoticons (happy + sad)
emoticons = emoticons_happy.union(emoticons_sad)
 
def clean_tweets(tweet):
    # remove stock market tickers like $GE
    tweet = re.sub(r'\$\w*', '', tweet)
 
    # remove old style retweet text "RT"
    tweet = re.sub(r'^RT[\s]+', '', tweet)
 
    # remove hyperlinks
    tweet = re.sub(r'https?:\/\/.*[\r\n]*', '', tweet)
    
    # remove hashtags
    # only removing the hash # sign from the word
    tweet = re.sub(r'#', '', tweet)
    
    #remove coma
    tweet = re.sub(r',','',tweet)
    
    #remove angka
    tweet = re.sub('[0-9]+', '', tweet)
 
    # tokenize tweets
    tokenizer = TweetTokenizer(preserve_case=False, strip_handles=True, reduce_len=True)
    tweet_tokens = tokenizer.tokenize(tweet)
 
    tweets_clean = []    
    for word in tweet_tokens:
        if (word not in stopwords_indonesia and   # remove stopwords
              word not in emoticons and           # remove emoticons
                word not in string.punctuation):  # remove punctuation
            #tweets_clean.append(word)
            stem_word = stemmer.stem(word)        # stemming word
            tweets_clean.append(stem_word)
 
    return tweets_clean
df['tweet_clean'] = df['remove_http'].apply(lambda x: clean_tweets(x))
df

,username,date,time,tweet,replies_count,retweets_count,likes_count,remove_user,remove_http,tweet_clean
10214,abahnanisa,29/10/2022,14:07:28,@2019_gerdapri @_melody_mellow @surasujaya @ya...,1,1,3,...,...,"[innalilahi, daerah, ya, moga, dampak, tabah, ..."
10300,iteam_p4,28/10/2022,16:31:44,@RockIn82__ @b41m_b14ck @surasujaya @__KopiPai...,1,0,2,...,...,"[om, si, telat, mulu, , , , ]"
5157,matahari_1912,29/10/2022,6:50:37,@AkunSiih @JacksQuevara @ZoelHayat @yaminhariy...,2,1,4,...,...,"[, lembaga, badan, komisi, mahkamah, tri, pimp..."
5150,aniesygmanies,29/10/2022,13:27:03,@luvalwaysblu8 @RockIn82__ @DjumadiDeddy @Comb...,2,0,3,...,...,"[alhamdulillah, aamiin, , kang, sehat, penuh, ..."
3752,mantan_ajja,28/10/2022,14:20:27,@surasujaya @Kio_bim @_melody_mellow @Ucing_Se...,3,0,4,...,...,"[kopi, bubuk, ma, jual nya, , ]"
...,...,...,...,...,...,...,...,...,...,...
6798,qu3en_l1lith,30/07/2022,12:32:56,🤔🤔🤔🤔🤔🤔 Di postingan gue sebelumnya ada video...,1,0,0,🤔🤔🤔🤔🤔🤔 Di postingan gue sebelumnya ada video...,🤔🤔🤔🤔🤔🤔 Di postingan gue sebelumnya ada video...,"[, , , postingan, gue, video, acara, keluarga,..."
4832,kak_rafly,28/09/2022,23:34:27,🤦‍♂️ Saya dan Ferdy Sambo berasal dari daerah ...,2,0,3,🤦‍♂️ Saya dan Ferdy Sambo berasal dari daerah ...,🤦‍♂️ Saya dan Ferdy Sambo berasal dari daerah ...,"[, , ferdy, sambo, asal, daerah, ucap, selamat..."
15347,hoxxynaya,25/02/2023,16:26:21,"🦋: Eh, vonis Bharada E dah keluar M (adek sepu...",1,0,0,"🦋: Eh, vonis Bharada E dah keluar M (adek sepu...","🦋: Eh, vonis Bharada E dah keluar M (adek sepu...","[, eh, vonis, bharada, e, dah, m, adek, sepupu..."
12149,rcunshpeecheck,05/12/2022,15:20:57,🪐Inspirasi Sepatu Safety/Hiking/Kerja🪐 Harga ...,1,0,1,🪐Inspirasi Sepatu Safety/Hiking/Kerja🪐 Harga ...,🪐Inspirasi Sepatu Safety/Hiking/Kerja🪐 Harga ...,"[, inspirasi, sepatu, safety, hiking, kerja, ,..."
17627,shopeebyrainee,19/08/2022,21:17:48,🪐Rekomendasi Sepatu Safety/Hiking/Kerja🪐 Harg...,1,31,33,🪐Rekomendasi Sepatu Safety/Hiking/Kerja🪐 Harg...,🪐Rekomendasi Sepatu Safety/Hiking/Kerja🪐 Harg...,"[, rekomendasi, sepatu, safety, hiking, kerja,..."

In [19]:
#remove punct
def remove_punct(text):
    text  = " ".join([char for char in text if char not in string.punctuation])
    return text
df['Tweet'] = df['tweet_clean'].apply(lambda x: remove_punct(x))
df

,username,date,time,tweet,replies_count,retweets_count,likes_count,remove_user,remove_http,tweet_clean,Tweet
10214,abahnanisa,29/10/2022,14:07:28,@2019_gerdapri @_melody_mellow @surasujaya @ya...,1,1,3,...,...,"[innalilahi, daerah, ya, moga, dampak, tabah, ...",innalilahi daerah ya moga dampak tabah kuat aa...
10300,iteam_p4,28/10/2022,16:31:44,@RockIn82__ @b41m_b14ck @surasujaya @__KopiPai...,1,0,2,...,...,"[om, si, telat, mulu, , , , ]",om si telat mulu
5157,matahari_1912,29/10/2022,6:50:37,@AkunSiih @JacksQuevara @ZoelHayat @yaminhariy...,2,1,4,...,...,"[, lembaga, badan, komisi, mahkamah, tri, pimp...",lembaga badan komisi mahkamah tri pimpin manus...
5150,aniesygmanies,29/10/2022,13:27:03,@luvalwaysblu8 @RockIn82__ @DjumadiDeddy @Comb...,2,0,3,...,...,"[alhamdulillah, aamiin, , kang, sehat, penuh, ...",alhamdulillah aamiin kang sehat penuh barokah
3752,mantan_ajja,28/10/2022,14:20:27,@surasujaya @Kio_bim @_melody_mellow @Ucing_Se...,3,0,4,...,...,"[kopi, bubuk, ma, jual nya, , ]",kopi bubuk ma jual nya
...,...,...,...,...,...,...,...,...,...,...,...
6798,qu3en_l1lith,30/07/2022,12:32:56,🤔🤔🤔🤔🤔🤔 Di postingan gue sebelumnya ada video...,1,0,0,🤔🤔🤔🤔🤔🤔 Di postingan gue sebelumnya ada video...,🤔🤔🤔🤔🤔🤔 Di postingan gue sebelumnya ada video...,"[, , , postingan, gue, video, acara, keluarga,...",postingan gue video acara keluarga brigadir j ...
4832,kak_rafly,28/09/2022,23:34:27,🤦‍♂️ Saya dan Ferdy Sambo berasal dari daerah ...,2,0,3,🤦‍♂️ Saya dan Ferdy Sambo berasal dari daerah ...,🤦‍♂️ Saya dan Ferdy Sambo berasal dari daerah ...,"[, , ferdy, sambo, asal, daerah, ucap, selamat...",ferdy sambo asal daerah ucap selamat tempuh hi...
15347,hoxxynaya,25/02/2023,16:26:21,"🦋: Eh, vonis Bharada E dah keluar M (adek sepu...",1,0,0,"🦋: Eh, vonis Bharada E dah keluar M (adek sepu...","🦋: Eh, vonis Bharada E dah keluar M (adek sepu...","[, eh, vonis, bharada, e, dah, m, adek, sepupu...",eh vonis bharada e dah m adek sepupu kelas sd ...
12149,rcunshpeecheck,05/12/2022,15:20:57,🪐Inspirasi Sepatu Safety/Hiking/Kerja🪐 Harga ...,1,0,1,🪐Inspirasi Sepatu Safety/Hiking/Kerja🪐 Harga ...,🪐Inspirasi Sepatu Safety/Hiking/Kerja🪐 Harga ...,"[, inspirasi, sepatu, safety, hiking, kerja, ,...",inspirasi sepatu safety hiking kerja harga rp ...
17627,shopeebyrainee,19/08/2022,21:17:48,🪐Rekomendasi Sepatu Safety/Hiking/Kerja🪐 Harg...,1,31,33,🪐Rekomendasi Sepatu Safety/Hiking/Kerja🪐 Harg...,🪐Rekomendasi Sepatu Safety/Hiking/Kerja🪐 Harg...,"[, rekomendasi, sepatu, safety, hiking, kerja,...",rekomendasi sepatu safety hiking kerja harga r...

In [20]:
df.sort_values("Tweet", inplace = True)
df

,username,date,time,tweet,replies_count,retweets_count,likes_count,remove_user,remove_http,tweet_clean,Tweet
16531,epadmaaaw,11/03/2023,11:18:09,🌵 https://t.co/Ry5kIZo9hB Sambo eliezer pemb...,1,0,0,🌵 https://t.co/Ry5kIZo9hB Sambo eliezer pemb...,🌵 https://t.co/RykIZohB Sambo eliezer pembun...,[],
9948,hamidahzahra,13/07/2022,18:37:52,https://t.co/WBeBGVI3vM Insiden tewasnya Nofr...,1,0,2,https://t.co/WBeBGVI3vM Insiden tewasnya Nofr...,https://t.co/WBeBGVIvM Insiden tewasnya Nofri...,[],
7626,habibmu50362599,30/08/2022,17:40:15,https://t.co/Xg8DjWipxP. Kejadian sesungguh...,1,0,7,https://t.co/Xg8DjWipxP. Kejadian sesungguh...,https://t.co/XgDjWipxP. Kejadian sesungguhn...,[],
16349,asasfuro,12/03/2023,18:46:06,@ahmadsaifulch @03__nakula Nah ini... https:/...,1,0,0,Nah ini... https://t.co/bnRKGbQWGa kerusaka...,Nah ini... https://t.co/bnRKGbQWGa kerusaka...,[],
7631,habibmu50362599,30/08/2022,17:38:23,https://t.co/Xg8DjW1mvP. Motif pembunuhan Sa...,1,0,13,https://t.co/Xg8DjW1mvP. Motif pembunuhan Sa...,https://t.co/XgDjWmvP. Motif pembunuhan Samb...,[],
...,...,...,...,...,...,...,...,...,...,...,...
15393,herjobi,23/02/2023,11:29:54,@MustEkeph @KemenkeuRI @DitjenPajakRI @prastow...,1,0,0,Zakheus di masa kini sdh alih profesi mjd ...,Zakheus di masa kini sdh alih profesi mjd ...,"[zakheus, sdh, alih, profesi, mjd, polisi, om,...",zakheus sdh alih profesi mjd polisi om bosen j...
11123,reezalino,01/11/2022,8:57:04,"Zaman skrg, sulit untuk mempercayai sesuatu sc...",1,0,0,"Zaman skrg, sulit untuk mempercayai sesuatu sc...","Zaman skrg, sulit untuk mempercayai sesuatu sc...","[zaman, skrg, sulit, percaya, scr, instan, tru...",zaman skrg sulit percaya scr instan trust issu...
13860,zoelhelmilubis1,18/01/2023,17:55:49,@dithapiero Zaman skrg susah dapat hakim yg tu...,1,0,4,Zaman skrg susah dapat hakim yg tulus ya . Ha...,Zaman skrg susah dapat hakim yg tulus ya . Ha...,"[zaman, skrg, susah, hakim, yg, tulus, ya, bha...",zaman skrg susah hakim yg tulus ya bharada e h...
8388,abd_al_bary,30/09/2022,2:15:15,@MUmaraAdamk1 @KajuruMotors Zamu baka sambo😂🌚,1,0,1,Zamu baka sambo😂🌚,Zamu baka sambo😂🌚,"[zamu, baka, sambo, , ]",zamu baka sambo
9256,bensin_sachet,18/10/2022,13:03:37,@pngajian zel gwej adalah “Bharada E Fans club...,1,1,1,zel gwej adalah “Bharada E Fans club kab.kend...,zel gwej adalah “Bharada E Fans club kab.kend...,"[zel, gwej, , bharada, e, fans, club, kab kend...",zel gwej bharada e fans club kab kendari

In [21]:
df.to_csv('03-Preprocessing-Data.csv',encoding='utf8', index=False)

In [22]:
df.drop(df.columns[[3,7,8,9]], axis = 1, inplace = True)
df

,username,date,time,replies_count,retweets_count,likes_count,Tweet
16531,epadmaaaw,11/03/2023,11:18:09,1,0,0,
9948,hamidahzahra,13/07/2022,18:37:52,1,0,2,
7626,habibmu50362599,30/08/2022,17:40:15,1,0,7,
16349,asasfuro,12/03/2023,18:46:06,1,0,0,
7631,habibmu50362599,30/08/2022,17:38:23,1,0,13,
...,...,...,...,...,...,...,...
15393,herjobi,23/02/2023,11:29:54,1,0,0,zakheus sdh alih profesi mjd polisi om bosen j...
11123,reezalino,01/11/2022,8:57:04,1,0,0,zaman skrg sulit percaya scr instan trust issu...
13860,zoelhelmilubis1,18/01/2023,17:55:49,1,0,4,zaman skrg susah hakim yg tulus ya bharada e h...
8388,abd_al_bary,30/09/2022,2:15:15,1,0,1,zamu baka sambo
9256,bensin_sachet,18/10/2022,13:03:37,1,1,1,zel gwej bharada e fans club kab kendari

In [23]:
df.drop_duplicates(subset ="Tweet", keep = 'first', inplace = True)
df

,username,date,time,replies_count,retweets_count,likes_count,Tweet
16531,epadmaaaw,11/03/2023,11:18:09,1,0,0,
16650,molwantwa_sambo,30/07/2022,14:34:11,1,1,5,a hi yimeni hi yimisa ndhuna hosi mi delela ng...
2479,kangkungkukus,14/07/2022,14:06:25,5,3,21,a istri irjen b brigadir j c bharada e a b sel...
11649,molwantwa_sambo,25/11/2022,22:08:08,1,0,1,a ndzi joli na swi hlangi
7348,molwantwa_sambo,30/08/2022,22:54:44,1,0,2,a ndzi lava ku ya ba
...,...,...,...,...,...,...,...
15393,herjobi,23/02/2023,11:29:54,1,0,0,zakheus sdh alih profesi mjd polisi om bosen j...
11123,reezalino,01/11/2022,8:57:04,1,0,0,zaman skrg sulit percaya scr instan trust issu...
13860,zoelhelmilubis1,18/01/2023,17:55:49,1,0,4,zaman skrg susah hakim yg tulus ya bharada e h...
8388,abd_al_bary,30/09/2022,2:15:15,1,0,1,zamu baka sambo
9256,bensin_sachet,18/10/2022,13:03:37,1,1,1,zel gwej bharada e fans club kab kendari

In [24]:
df.to_csv('04-Hasi-Preprocessing-Data.csv',encoding='utf8', index=False)